header {
    background-color: blueviolet;

    .logo img {
        height: 100px;
        width: auto;
    }
    .header-headlines {
        a {
            color: white;
            margin-top: 62px;
        }
    }
}

footer {
    display: flex;
    margin-top: 5rem;
    background-color: blueviolet;
    ul  {
        li {
        list-style: none;
        padding: 4px 0;
            a {
                list-style: none;
                color: aliceblue;
            }
        }
    }
}